/* 重置默认样式 */
body, ul {
    margin: 0;
    padding: 0;
}

/* 设置背景图片 */
.background-image {
    background-image: url('/images/cern.jpg');
    background-size: cover; /* 背景图片等比例缩放以覆盖整个区域 */
    background-repeat: no-repeat; /* 禁止重复 */
    background-attachment: fixed; /* 固定背景图片 */
    height: 100vh; /* 设置高度为视口高度，以填满整个视口 */
}

/* 导航菜单样式 */
nav {
    background-color: #333; /* 导航背景色 */
    padding: 10px 0;
}

ul {
    list-style: none; /* 移除列表样式 */
    display: flex; /* 水平排列菜单项 */
    justify-content: center; /* 居中对齐 */
}

li {
    margin: 0 20px; /* 菜单项之间的间距 */
}

a {
    text-decoration: none; /* 移除链接下划线 */
    color: #fff; /* 文本颜色 */
    font-weight: bold; /* 文本粗体 */
    font-size: 18px; /* 文本大小 */
}

/* 鼠标悬停时的链接样式 */
a:hover {
    text-decoration: underline;
}